#main {
  width: 500px;
  padding: 4px;
}

.block {
  display: inline;
  width: 260px;
  margin: 0 0 3px 0;
}

#status {
  float: right;
}

#save {
  width: 150px;
  float: right;
}

/* adjustments for mobile devices (firefox only) */
@supports (-moz-appearance: none) {
  @media only screen and (hover: none) and (pointer: coarse) {
    #main {
      width: 96%;
    }
  }
}
