* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12pt;
  font-weight: 400;
  user-select: none;
  overflow-x: hidden;
}

#main {
  border: 1px solid lightgrey;
  width: 240px;
  padding: 2px 0 2px 0;
}

.block,
li {
  width: 230px;
  height: 25px;
  margin: 0 auto 3px auto;
  display: block;
}

#usersListTitle {
  height: 20px;
}

li {
  height: 20px;
  margin: 0 auto 1px auto;
  margin-left: 20px;
}

#logo {
  height: 30px;
  text-align: center;
  font-size: 16pt;
  font-weight: 500;
}

h1 {
  display: inline;
  font-size: 16pt;
  font-weight: 500;
}

input {
  font-size: 12pt;
  border-style: solid;
  border-color: #ccc;
  border-width: 0 0 1px 0;
  outline: none;
}

.button {
  border: 0;
  padding: 0;
  line-height: normal;
  font: inherit;
  overflow: visible;

  border-radius: 3px;
  background: coral;
  color: white;
  box-shadow: 1px 1px 1px 0 #ccc;
}

.button:active {
  box-shadow: 1px 1px 1px 0 #fff;
}

#shared {
  min-height: 25px;
  max-height: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#error {
  height: fit-content;
  color: red;
}

/* adjustments for mobile devices (firefox only) */
@supports (-moz-appearance: none) {
  @media only screen and (hover: none) and (pointer: coarse) {
    #main {
      width: 96%;
      margin: 0 auto 0 auto;
    }
    .block,
    li {
      width: 100%;
    }
    input.block,
    .button {
      height: 2.5em;
    }
  }
}
